.section-foto {
  background-color: #e0cbb4;
}
.container-section {
  padding: 64px 16px;
  width: 320px;
  height: 2335px;
  text-align: center;
}
.section-title {
  text-align: center;
  margin-bottom: 32px;
}
.title {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #0b0803;
}
.subtitle-section {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #0b0803;
}
.foto-gallery {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.foto-latte {
}
.foto-image {
}
.foto-breakfast {
}
.foto-book {
}
.foto-barista {
}
.foto-interior {
}
.foto-two-coffee {
}
.foto-coffee-kraft {
}
