.footer {
  background: var(--color-scheme-2-background);
  padding: 24px 16px;
}

.footer-container {
  border: 1px solid var(--color-scheme-1-border);
  border-radius: 40px;
  padding: 32px 48px;
  min-height: 500px;
  background: var(--color-scheme-1-foreground);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.footer-logo-link {
  display: inline-block;
}

.footer-logo-icon {
  display: block;
  width: 146px;
  height: 84px;
}

.social-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.social-icon {
  width: 32px;
  height: 32px;
  display: block;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  gap: 32px;
  margin-top: 32px;
}

.footer-rights {
  margin-top: 32px;
  text-align: center;
  width: 100%;
  font-family: var(--font-family);
  font-weight: var(--fw-regular);
  font-size: 14px;
  line-height: var(--lh-normal);
  color: var(--color-scheme-1-text);
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .footer-container {
    max-width: 704px;
    min-height: 156px;
    padding: 32px 48px;
  }

  .footer-header {
    flex-direction: row;
    width: 220px;
    height: 36px;
  }

  .footer-logo-icon {
    width: 84px;
    height: 36px;
  }

  .social-icon {
    width: 24px;
    height: 24px;
  }

  .footer-menu {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-container {
    max-width: 1312px;
    min-height: 100px;
    padding: 32px 48px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer-menu {
    margin: 0;
  }
}
