/* MOBILE first */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

/* Logo */
.header-logo-icon {
  display: block;
  width: 84px;
  height: 36px;
  fill: var(--color-neutral-darkest);
}

/* Burger */
.header-menu-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  fill: var(--color-neutral-darkest);
}

.header-nav {
  display: none;
}

.header-link {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 150%;
  color: #0b0803;
  transition: color 0.3s ease;
}

.header-link:hover,
.header-link:focus {
  color: var(--color-coffee-dark);
}

/* TABLET (≥768px) */
@media screen and (min-width: 768px) {
  .header-menu-btn {
    display: none;
  }

  .header-nav {
    display: block;
  }

  .header-container {
    padding: 0 64px;
  }

  .header-menu {
    display: flex;
    gap: 32px;
  }
}

/* DESKTOP (≥1440px) */
@media screen and (min-width: 1440px) {
  .header-container {
    padding: 0 64px;
  }
}
