.mobile-menu-window {
  display: none;
}
.mobile-menu-container {
  min-width: 320px;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  padding: 18px 16px;
}
@media only screen and (max-width: 767px) {
  .mobile-menu-window.is-open {
    display: block;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    background: var(--color-coffee-lighter);

    box-sizing: border-box;
  }

  .mobile-logo-icon {
    display: block;
    fill: black;
  }

  .mobile-close-btn {
    background-color: transparent;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-close-icon {
    display: flex;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-close-icon:hover {
    fill: var(--color-neutral-darkest);
    border: none;
  }
  .mobile-close-btn:focus {
    border: none;
    fill: var(--color-neutral-darkest);
  }
  .mobile-close-btn:active {
    fill: var(--color-neutral-darkest);
  }
  .mob-menu-nav {
    margin: auto 0;
  }
  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
    gap: 32px;
    align-items: center;
  }
  .mob-menu-item:hover a,
  .mob-menu-item:focus a {
    color: var(--color-coffee-dark);
  }
  .mob-menu-item:active a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-neutral-darkest);
  }
}
