.stands-out-section {
  padding: 64px 0;
  text-align: center;
}

.quality-badge {
  color: #0b0803;
  margin-bottom: 16px;
  display: block;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.section-headline {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #0b0803;
  margin-bottom: 24px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 288px;
}

.section-description {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #0b0803;
  margin-bottom: 32px;
  margin: 0 auto 32px auto;
  text-align: center;
  max-width: 288px;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.advantages-list-item {
  text-align: center;
}

.advantage-image {
  width: 100%;
  object-fit: cover;
  border-radius: 24px;
  margin-bottom: 24px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.section-list-headline {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 8px;
  margin-top: 32px;
  line-height: 1.5;
}

.list-paragraph {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #4a413b;
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  .section-headline {
    font-size: 36px;
    max-width: 462px;
  }

  .section-description {
    max-width: inherit;
  }

  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
  }

  .advantages-list-item:nth-child(1),
  .advantages-list-item:nth-child(2) {
    flex-basis: calc((100% - 32px) / 2);
  }

  .advantages-list-item:nth-child(3) {
    flex-basis: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .advantages-list-item:nth-child(3) .advantage-image {
    max-width: 704px;
    width: 100%;
  }

  .advantages-list-item:nth-child(3) .section-list-headline,
  .advantages-list-item:nth-child(3) .list-paragraph {
    max-width: 440px;
    margin-top: 8px;
    margin-bottom: 0;
    padding: 0;
  }

  .advantages-list-item:not(:nth-child(3)) .list-paragraph {
    padding: 0;
  }
}

@media screen and (min-width: 1440px) {
  .section-headline {
    font-size: 42px;
    margin-bottom: 24px;
    max-width: 768px;
  }

  .section-description {
    margin-bottom: 32px;
    max-width: 768px;
  }

  .advantages-list {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: center;
  }

  .advantages-list-item {
    flex: 1;
    max-width: 422px;
    min-width: 422px;
  }

  .advantages-list-item:nth-child(3) {
    flex-basis: auto;
    display: block;
  }

  .advantages-list-item:nth-child(3) .advantage-image {
    max-width: 100%;
  }

  .advantages-list-item:nth-child(3) .section-list-headline {
    max-width: 100%;
    margin-top: 32px;
    margin-bottom: 8px;
  }

  .advantages-list-item:nth-child(3) .list-paragraph {
    max-width: 100%;
    margin-top: 0;
  }
}
