/* mobile */
.subscribe-section {
    padding-top: 64px;
    padding-bottom: 64px;
}

.subscribe-title {
    font-family: "Aboreto", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #0b0803;
    width: 288px;
    margin-bottom: 24px;
}

.subscribe-text {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #0b0803;
    width: 288px;
    margin-bottom: 32px;
}

.subscribe-input {
    border-radius: 12px;
    width: 288px;
    height: 40px;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #0b0803;
    border: 1px solid rgba(11, 8, 3, 0.15);
    border-radius: 12px;
    padding: 8px 12px;
    outline: transparent;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 24px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input::placeholder {
    color: rgba(11, 8, 3, 0.6);
}

.subscribe-input:focus {
    border: 1px solid #6f4e37;
}

.subscribe-input:invalid:not(:placeholder-shown) {
    border: 1px solid #7f1c1c;
}

.subscribe-btn {
    border-radius: 100px;
    padding: 10px 24px;
    min-width: 288px;
    height: 44px;
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background-color: #6f4e37;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribtion-icon {
    fill: currentColor;
    margin-left: 17px;
}

.agreement-text {
font-family: "Quicksand", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 1.5;
color: #0b0803;
margin-bottom: 32px;
}

.subscribe-img {
    overflow: hidden;
    border-radius: 40px;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: rgba(11, 8, 3, 0.1);
    color: #0b0803;
}

/* tablet */
@media screen and (min-width: 768px) {
.subscribe-title {
    width: 704px;
}
.subscribe-text {
    width: 704px;
}
.subscribe-wrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 16px;
}

.subscribe-input {
    margin-bottom: 0;
    width: 340px;
}

.subscribe-btn {
    margin-bottom: 0;
    min-width: 158px;
}
}

/* desktop */
@media screen and (min-width: 1440px) {
.desk-wrapper {
    display: flex;
    gap: 32px;
    flex-direction: row;
    align-items: center;
}
.subscribe-title {
    font-size: 48px;
    width: 640px;
}
.subscribe-text {
    width: 640px;
}
.subscribe-wrapper {
    gap: 16px;
}
}

