.testimonials-title {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #0b0803;
  width: 288px;
  margin-bottom: 24px;
}

.star-empty {
  fill: transparent;
  stroke: #0b0803;
  stroke-width: 2;
}
.testimonials-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.testimonials-item {
  border: 1px solid rgba(11, 8, 3, 0.15);
  border-radius: 32px;
  padding: 32px;
  min-width: 288px;
  background-color: #c29d84;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.rating {
  display: flex;
  gap: 4px;
}

.quote {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #0b0803;
}

.visitor-name {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0803;
  margin-top: auto;
}

@media screen and (min-width: 768px) {
  .testimonials-title {
    width: 498px;
  }
  .testimonials-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .testimonials-item {
    max-width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .testimonials-title {
    font-size: 48px;
    width: 416px;
  }
  .testimonials-item {
    max-width: calc((100% - 24px * 3) / 4);
    height: 303px;
  }
}
