.container-comment {
  margin: 0;
  padding: 64px 16px;
  min-width: 288px;
}
.section-hedline {
  margin-bottom: 24px;
  text-align: start;
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #0b0803;
}
.comment-item {
  background-color: #c29d84;
  border: 1px solid rgba(11, 8, 3, 0.15);
  border-radius: 32px;
  padding: 32px;
  width: 288px;
  min-height: 235px;
  min-width: 265px;
}
.comment-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
 {
}

.stars {
  margin-bottom: 24px;
}
.foto-list {
}

.team-icon-list {
  width: 20px;
  height: 20px;
  transition: fill 0.3s ease;
}
.blank {
  fill: transparent;
  stroke: #0b0803;
}
.comment-text {
  margin-bottom: 24px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #0b0803;
}
.comment-author {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 16px;
}
