.testimonials {
  padding: 64px 16px;
}

.testimonials-title {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.visitors-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  list-style: none;
}

.visitors-item {
  width: 100%;
  border: 1px solid rgba(11, 8, 3, 0.15);
  border-radius: 32px;
  padding: 32px;
  background-color: var(--color-scheme-1-foreground);
}

.visitors-icon {
  margin-bottom: 24px;
}

.visitors-text {
  margin-bottom: 24px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  max-width: 224px;
}

.visitors-name {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .testimonials {
    padding: 64px 0;
  }

  .testimonials-title {
    max-width: 498px;
  }

  .visitors-item {
    width: calc((100% - 24px) / 2);
  }

  .visitors-text {
    max-width: 276px;
  }
}

@media screen and (min-width: 1440px) {
  .testimonials-title {
    max-width: 416px;
    font-size: 48px;
  }

  .visitors-item {
    width: calc((100% - 72px) / 4);
  }

  .visitors-text {
    max-width: 246px;
  }
}
