.section-welcome {
  padding: 64px 0;
  background-color: var(--color-scheme-1-background);
}
.welcome-subtitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
}
.welcome-title {
  max-width: 288px;
  font-weight: 400;
  font-family: var(--second-family);
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}
@media only screen and (min-width: 768px) {
  .welcome-title {
    max-width: 336px;
  }
}
@media only screen and (min-width: 1440px) {
  .welcome-title {
    max-width: 640px;
    font-size: 48px;
  }
}
.welcome-description {
  width: 288px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
}
@media only screen and (min-width: 768px) {
  .welcome-description {
    width: 336px;
  }
}
@media only screen and (min-width: 1440px) {
  .welcome-description {
    width: 640px;
  }
}

/* Кнопка */
.btn-find-location {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  border: none;
  border-radius: 100px;
  background-color: var(--color-coffee-dark);
  font-family: var(--font-family);
  color: var(--color-white);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 -2px 1px rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(0, 0, 0, 0.15),
    inset 0 2px 1px rgba(255, 255, 255, 0.25),
    inset 0 32px 24px rgba(255, 255, 255, 0.05);
}
@media only screen and (min-width: 1440px) {
  .btn-find-location:hover,
  .btn-find-location:focus {
    background-color: rgba(11, 8, 3, 0.1);
    color: var(--color-neutral-darkest);
  }

  .btn-find-location:hover .btn-welcome-icon,
  .btn-find-location:focus .btn-welcome-icon {
    fill: var(--color-neutral-darkest);
  }
}

@media only screen and (min-width: 768px) {
  .btn-find-location {
    width: auto;
    height: 44px;
    align-self: flex-start;
  }
  .btn-welcome-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.btn-welcome-icon {
  fill: var(--color-white);
}

.welcome-row {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media only screen and (min-width: 768px) {
  .welcome-row {
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
  }
}

.welcome-col-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.welcome-col-right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 1440px) {
  .welcome-col-right {
    margin-bottom: 80px;
  }
}

.welcome-image img {
  width: 100%;
  height: auto;
  border-radius: 40px;
}
